---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$header-color:     #184784;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 42%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


// Custom rules overwriting the layout rules

.site-header {
    background-color:  $header-color;
}

.site-title, .site-title:visited {
    color:  $background-color;
}

.site-nav .page-link {
    color: #DDDDDD;
}

@media screen and (max-width: 600px) {
    .site-nav:hover {
        border-color: $grey-color;
    }
    .site-nav .page-link {
        color: black;
    }
}

body {
    background-color: $grey-color-light;
}

.page-content {
    background-color: $background-color;
}