<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">

          {% if site.bitbucket_username %}
          <li>
            <a href="https://bitbucket.com/{{ site.bitbucket_username }}">
              <span class="icon  icon--bitbucket">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282" d="m 1.7811186,2.8870258 q 0,-0.861743 1.8240137,-1.4649589 1.8240136,-0.60321592 4.394868,-0.60321592 2.5852147,0 4.4020477,0.60321592 1.816833,0.6032159 1.816833,1.4649589 0,0.1723444 -1.034088,6.3194138 -0.12926,0.6606706 -1.594216,1.2782444 -1.464956,0.617585 -3.5905767,0.617585 -2.1256226,0 -3.5905787,-0.617585 Q 2.9444659,9.8671102 2.8295674,9.2064396 1.7811186,3.2604422 1.7811186,2.8870258 z m 1.5367674,8.3445012 0,-0.05743 q 0,-0.244158 0.2154347,-0.244158 0.086174,0 0.1723478,0.07179 0.6750287,0.531402 1.752202,0.833005 1.077173,0.301613 1.8096514,0.330341 l 0.7324784,0.04308 q 0.1148977,0 0.3087893,-0.0072 0.1938906,-0.0072 0.7540215,-0.07179 0.5601298,-0.06467 1.0699919,-0.179535 0.509862,-0.114899 1.127442,-0.359057 0.617578,-0.244158 1.048448,-0.588858 l 0.157985,-0.07179 q 0.229797,0 0.229797,0.244158 0,0.02872 -0.01436,0.05743 -0.315971,1.737834 -0.43087,2.312333 -0.157985,0.703746 -1.378781,1.170525 -1.2207966,0.466778 -2.8724626,0.466778 -1.651665,0 -2.8724622,-0.466778 Q 3.9067408,14.247617 3.7631177,13.54386 3.4902338,12.179443 3.317886,11.231527 z M 4.0216393,2.6715849 q 0,0.3446992 1.1705285,0.5960366 1.1705281,0.2513477 2.8078325,0.2513477 1.651665,0 2.8221937,-0.2441581 1.170528,-0.2441684 1.170528,-0.5888573 0,-0.3590578 -1.170528,-0.6104056 -1.1705287,-0.2513373 -2.8221937,-0.2513373 -1.651666,0 -2.8150136,0.244158 -1.1633474,0.2441581 -1.1633474,0.603216 z m 1.9963615,5.0698959 q 0,0.8186568 0.5816739,1.4003348 0.5816729,0.5816677 1.4003256,0.5816677 0.8186516,0 1.4003245,-0.5816677 0.5816736,-0.581678 0.5816736,-1.4003348 0,-0.8186465 -0.5816736,-1.4003246 -0.5816729,-0.5816678 -1.4003245,-0.5816678 -0.8186527,0 -1.4003256,0.5816678 -0.5816739,0.5816781 -0.5816739,1.4003246 z m 0.9909992,0 q 0,0.4021542 0.2872463,0.6965777 0.2872463,0.2944235 0.703754,0.2944235 0.4165067,0 0.7037529,-0.2944235 0.2872463,-0.2944235 0.2872463,-0.6965777 0,-0.402144 -0.2872463,-0.6965675 Q 8.416507,6.7504898 8.0000003,6.7504898 q -0.4165077,0 -0.703754,0.2944235 Q 7.009,7.3393368 7.009,7.7414808 z"/>
                </svg>
              </span>

              <span class="username">{{ site.bitbucket_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
                </svg>
              </span>

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}          

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
                  c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
                </svg>
              </span>

              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            <a href="https://linkedin.com/{{ site.linkedin_username }}">
              <span class="icon  icon--linkedin">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282" d="m 3.1859311,5.7587941 h 2.139586 V 11.820956 H 3.1859311 V 5.7587941 z m 7.1822339,-0.206827 c 0.602294,0.00353 1.372901,0.2995421 1.84361,0.7773827 0.488183,0.545595 0.602294,1.1621516 0.602294,1.9256277 V 11.820956 H 10.674482 V 8.508162 c 0,-0.6062168 -0.245695,-1.3447301 -1.0480402,-1.3693352 -0.470709,0.00749 -0.7738169,0.2781462 -0.99883,0.734591 -0.064188,0.149772 -0.049924,0.3177287 -0.049924,0.4849722 l -0.042792,3.462566 H 6.3953101 V 5.7587941 h 2.1395862 l 0.042792,0.791647 C 8.7235366,6.307955 8.9267972,6.0800876 9.1803381,5.8982233 9.5226719,5.6518148 9.9224175,5.5587421 10.368165,5.5519671 z M 4.2557242,2.8525226 c 0.5491603,0.00748 1.0947547,0.4386157 1.1161504,1.0947548 0.014264,0.5851765 -0.4956706,1.0947548 -1.1304144,1.0947548 h -0.014264 c -0.5455946,0 -1.080491,-0.4457473 -1.1054529,-1.0947548 0.010695,-0.5776873 0.4956706,-1.080134 1.1339803,-1.0947548 z M 1.0463453,0.05323079 V 13.960541 H 14.953655 V 0.05323079 H 1.0463453 z"/>
                </svg>
              </span>

              <span class="username">{{ site.linkedin_username }}</span>
            </a>
          </li>
          {% endif %}          
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
